.hero-section {
  overflow: hidden;
  text-align: center;
  padding: 0 var(--content-padding);
}
.hero-section__image {
  width: 130%;
  height: auto;
  object-position: var(--content-padding);
}
.hero-section__heading {
  font-size: 3rem;
  line-height: 3.5rem;
  color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
}

.hero-section__content {
  color: var(--color-neutral-violet);
  font-size: 1.3rem;
  max-width: 40ch;
  margin: 0 auto;
}

@media screen and (min-width: 800px) {
  .hero-section {
    display: grid;
    grid-template-columns: 13fr 7fr;
    text-align: start;
  }
  .hero-section__image {
    grid-column: 2;
    grid-row: span 4;
    width: 150%;
    object-position: var(--space-md);
  }
  .hero-section__heading {
    grid-row: 2;
    font-size: 4rem;
    line-height: 4.5rem;
    margin: 0;
  }
  .hero-section__content {
    grid-row: 3;
    margin: 0;
  }
  .hero-section__ctoa {
    margin: var(--space-md) 0;
  }
}
