.hero-section {
  overflow: hidden;
  text-align: center;
  padding: 0 var(--content-padding);
}
.hero-section__image {
  width: 130%;
  height: auto;
  object-position: var(--content-padding);
}
.hero-section__heading {
  font-size: 3rem;
  line-height: 3rem;
  color: var(--color-primary-dark);
  display: flex;
  flex-direction: column;
}

.hero-section__content {
  color: var(--color-neutral-violet);
  font-size: 1.3rem;
  max-width: 40ch;
  margin: 0 auto;
}

.hero-section__ctoa {
  margin-top: var(--space-md);
  width: calc(2 * var(--space-xxl));
  height: var(--space-xl);

  font-weight: bold;
  font-size: 1.2rem;
  color: #fff;
  background: var(--color-primary);
  appearance: none;
  outline: none;
  border: none;
  border-radius: var(--space-lg);
  cursor: pointer;
  text-align: center;
  letter-spacing: 0.5px;
}

@media screen and (min-width: 800px) {
  .hero-section {
    display: grid;
    grid-template-columns: 13fr 7fr;
    text-align: start;
  }
  .hero-section__image {
    grid-column: 2;
    grid-row: span 4;
    width: 150%;
    object-position: var(--space-md);
  }
  .hero-section__heading {
    font-size: 4rem;
    line-height: 4rem;
    margin: 0;
    grid-row: 2;
    align-self: end;
  }
  .hero-section__content {
    grid-row: 3;
    margin: 0;
  }
  .hero-section__ctoa {
    grid-row: 4;
    align-self: end;
  }
}
