.content {
  margin-top: calc(1.5 * var(--space-xxl));
  padding: 0 var(--content-padding);
  background: hsl(225, 33%, 95%);
}

.content__interactive {
  transform: translateY(-50%);
}

.content__list {
  list-style: none;
  padding: 0;
  margin-top: var(--space-md);
}

.content__list-item:not(:first-child) {
  margin-top: var(--space-md);
}

.highlights {
  text-align: center;
  margin-top: var(--space-xxl);
}

.highlights__heading {
  font-size: 1.8rem;
  margin: 0;
}

.highlights__meta {
  margin: var(--space-md) 0 0;
  color: var(--color-neutral-violet);
}

.highlights__card-list {
  margin: var(--space-xxl) 0;
  list-style: none;
  padding: 0;
}

.highlights__card {
  position: relative;
  margin-bottom: var(--space-xxl);
}

.highlights__card:not(:last-child):after {
  position: absolute;
  content: '';
  display: inline-block;
  width: 0.5rem;
  transform: translateX(-50%);
  height: var(--space-xxl);
  background: var(--color-primary);
}

@media screen and (min-width: 700px) {
  .highlights__meta {
    max-width: 50ch;
    margin: var(--space-md) auto 0;
  }
}

@media screen and (min-width: 800px) {
  .highlights__card {
    margin-bottom: 0;
  }

  .highlights__card-list {
    display: grid;
    gap: var(--space-md);
    grid-template-columns: repeat(3, minmax(min-content, 1fr));
    grid-auto-rows: 1fr;
    margin-bottom: calc(2 * var(--space-xxl));
  }

  .highlights__card:not(:last-child):after {
    left: 100%;
    top: 50%;
    height: var(--space-md);
    transform: rotate(-90deg);
    transform-origin: top left;
  }

  .highlights__card:nth-child(2):after {
    top: calc(50% - var(--space-lg));
  }

  .highlights__card:nth-child(2) {
    transform: translateY(var(--space-lg));
  }

  .highlights__card:nth-child(3) {
    transform: translateY(calc(2 * var(--space-lg)));
  }
}

.boost {
  padding: var(--space-xxl) var(--space-xl);
  margin: 0 calc(-1 * var(--content-padding));
  color: #fff;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;

  background: url('/bg-boost-mobile.svg');
  background-color: var(--color-primary-dark);
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;
}

@media screen and (min-width: 700px) {
  .boost {
    padding: var(--space-xl);

    background-image: url('/bg-boost-desktop.svg');
    background-position: center;
  }
}
