.header {
  --banner-height: 2.5rem;
  padding: 0 var(--content-padding);
  margin: var(--banner-height) 0 var(--space-sm);
  /* height is needed because children are removed from document flow collapsing the header */
  height: var(--banner-height);
  position: relative;
}

.header__logo {
  flex-shrink: 0;

  position: absolute;
  display: inline-block;
  /* corresponding to 40px at root font size of 14px */
  width: calc(121 / 33 * var(--banner-height));
  height: 0;
  padding-top: var(--banner-height);
}

.header__logo svg {
  position: absolute;
  top: 0;
  left: 0;
}

.nav {
  position: relative;
}

.nav__button {
  width: var(--banner-height);
  height: var(--banner-height);
  padding: var(--space-xxs);

  appearance: none;
  background: none;
  outline: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;

  position: absolute;
  right: 0;
}

.nav__button:hover,
.nav__button:focus {
  box-shadow: var(--color-neutral-gray) 0px 7px 29px 0px;
}

.nav__button:focus {
  transform: scale(1.05);
}

.nav__list {
  width: 100%;
  position: absolute;
  top: var(--banner-height);
  padding: 0;
  margin: 0;
  list-style: none;
  /* Hidden in small screens */
  display: none;
}

.nav__list--active {
  display: block;
  background: var(--color-primary-dark);
  color: #fff;
  border-radius: var(--space-xs);
  margin-top: var(--space-sm);
  padding: var(--space-lg) var(--space-md);
}

.nav__list-item {
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.nav__list-item:hover {
  transform: scale(1.1);
}

.nav__list-item:not(:first-child) {
  margin-top: var(--space-md);
}

.nav__list-item--spacer {
  height: 1px;
  background: var(--color-neutral-violet);
  opacity: 0.4;
}

@media (min-width: 700px) {
  .header {
    display: flex;
    margin: var(--banner-height) 0;
  }
  .header__logo {
    position: relative;
    margin-right: var(--space-lg);
  }
  .nav {
    flex-grow: 1;
  }
  .nav__button {
    display: none;
  }
  .nav__list {
    /* to reset the absolute positioning from mobile layout*/
    position: relative;
    top: 0;

    display: flex;
    align-items: center;
    height: var(--banner-height);
  }
  .nav__list-item {
    color: var(--color-neutral-violet);
  }
  .nav__list-item:hover {
    color: var(--color-primary-dark);
  }
  .nav__list-item:not(:first-child) {
    margin: 0 0 0 var(--space-md);
  }
  .nav__list-item--spacer {
    height: 1px;
    background: none;
    flex: 1;
  }
}
